<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         colors="true"
         bootstrap="tests/bootstrap.php"
         cacheResultFile="var/cache/test/.phpunit.result.cache"
>
    <php>
        <ini name="error_reporting" value="-1" />
        <server name="APP_ENV" value="test" force="true" />
    </php>

    <testsuites>

        <testsuite name="functional">
            <directory>tests/Functional</directory>
        </testsuite>

    </testsuites>
</phpunit>
