<footer class="bg-dark">
    <div class="container">
        <div class="row gutter-3">
            <div class="col-12 col-md-2">
                <a href="{{ path('landing') }}"></a>
            </div>
            <div class="col-12 col-md-8 text-white">
                <p class="mb-4">
                    Aeon is a set of libraries that makes easier to work with PHP Date & Time in elegant Object Oriented way.
                </p>
                <div class="row">
                    <div class="col-6">
                        <ul class="list-group list-group-minimal">
                            <li class="list-group-item"><a href="https://packagist.org/packages/aeon-php/calendar" target="_blank">aeon-php/calendar</a></li>
                            <li class="list-group-item"><a href="https://packagist.org/packages/aeon-php/calendar-doctrine" target="_blank">aeon-php/calendar-doctrine</a></li>
                            <li class="list-group-item"><a href="https://packagist.org/packages/aeon-php/calendar-holidays" target="_blank">aeon-php/calendar-holidays</a></li>
                            <li class="list-group-item"><a href="https://packagist.org/packages/aeon-php/calendar-holidays-yasumi" target="_blank">aeon-php/calendar-holidays-yasumi</a></li>
                            <li class="list-group-item"><a href="https://packagist.org/packages/aeon-php/cli" target="_blank">aeon-php/cli</a></li>
                        </ul>
                    </div>
                    <div class="col-6">
                        <ul class="list-group list-group-minimal">
                            <li class="list-group-item"><a href="https://packagist.org/packages/aeon-php/business-hours" target="_blank">aeon-php/business-hours</a></li>
                            <li class="list-group-item"><a href="https://packagist.org/packages/aeon-php/process" target="_blank">aeon-php/process</a></li>
                            <li class="list-group-item"><a href="https://packagist.org/packages/aeon-php/retry" target="_blank">aeon-php/retry</a></li>
                            <li class="list-group-item"><a href="https://packagist.org/packages/aeon-php/rate-limiter" target="_blank">aeon-php/rate-limiter</a></li>
                            <li class="list-group-item"><a href="https://packagist.org/packages/aeon-php/calendar-twig" target="_blank">aeon-php/calendar-twig</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>