{% extends 'docs.html.twig' %}

{% block title %}Aeon PHP - Calendar - Documentation{% endblock %}

{% block body %}
    <div class="row doc-content-body">
        <article class="col-md-9">
            <section id="calendar-interface">
                <h5 class="section-title-2">Calendar - {{ version }}</h5>
                <hr/>
                <ul>
                    {% for phpClass in calendarClasses %}
                        <li><a href="{{ phpClass.name | class_url(version) }}">{{ phpClass.shortName }}</a></li>
                    {% endfor %}
                </ul>
            </section>
        </article>
        <aside class="col-md-3">
            <div class="sticky">
                <section class="text-center">
                    <a href="https://github.com/aeon-php/website/blob/1.x/templates/{{ _self }}" class="btn btn-secondary p-1" target="_blank"><i class="fab fa-github"></i> Edit this page</a>
                </section>
            </div>
        </aside>
    </div>
{% endblock %}
