{% extends 'docs.html.twig' %}

{% block title %}Aeon PHP - Documentation{% endblock %}

{% block body %}
    <div class="row doc-content-body">
        <article class="col-md-9">
        <section id="calendar-interface">
            <h5 class="section-title-2">Process</h5>
            <hr/>
            <ul>
            {% for phpClass in processClasses %}
                <li><a href="{{ phpClass.name | class_url }}">{{ phpClass.shortName }}</a></li>
            {% endfor %}
            </ul>
        </section>
        </article>
    </div>
{% endblock %}
