{% extends 'docs.html.twig' %}

{% block title %}Aeon PHP - Retry - Documentation{% endblock %}

{% block body %}
    <div class="row doc-content-body">
        <article class="col-md-9">
        <section id="calendar-interface">
            <h5 class="section-title-2">Retry</h5>
            <hr/>
            Available versions:
            <ul>
                {% for version, src in versions %}
                    <li><a href="{{ path('docs_retry_version', { version: version }) }}">{{ version }}</a></li>
                {% endfor %}
            </ul>
        </section>
        </article>
    </div>
{% endblock %}
