{% extends 'docs.html.twig' %}

{% block title %}Aeon PHP - Retry - Documentation{% endblock %}

{% block body %}
    <div class="row doc-content-body">
        <article class="col-md-9">
        <section id="calendar-interface">
            <h5 class="section-title-2">Retry - {{ version }}</h5>
            <hr/>
            <ul>
                {% for phpClass in retryClasses %}
                    <li><a href="{{ phpClass.name | class_url(version) }}">{{ phpClass.shortName }}</a></li>
                {% endfor %}
            </ul>
        </section>
        </article>
    </div>
{% endblock %}
